* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    gap: 0;
}

.back-frame {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-frame {
    color: rgb(0, 102, 255);
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 12px 0px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70dvw;
    height: 45dvh;
}

#title {
    position: relative;
    bottom: 10px;
}

#description {
    position: relative;
    bottom: 10px;
    color: rgb(147, 146, 146);
    font-size: 12px;
}

.input {
    color: red;
    border: 2px solid rgb(0, 102, 255);
    color: white;
    width: 300px;
    height: 30px;
    border-radius: 8px;
}


.submit-button {
    background-color: rgb(0, 102, 255);
    border: 0px;
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 8px;
}